[2015-06-15 01:16] dickeyxxx opened #1 "support private packages"
Originally this project was needed to ensure that only authenticated users could publish packages, but they needed to be installable by anyone. For most projects, however, you would want only authenticated users to be able to publish or install packages.

This will have to be a configurable option.

[2015-09-17 17:41] zeke commented on #1
I'm watching this repo :)

[2015-09-17 17:50] dickeyxxx commented on #1
this is actively used! https://heroku-npm.herokuapp.com/package-json-to-readme

[2015-09-17 22:53] raulb commented on #1
Hi @zeke :wave:

[2015-09-18 04:57] zeke commented on #1
:raised_hands:

[2015-10-20 14:56] steveostudios opened #2 "htpasswd not a command"
I've deployed this to heroku, but I'm confused about the htpasswd authentication. When I do
[code]
I get `htpasswd: command not found`. I'm positive that it is me doing something wrong. Any help would be greatly appreciated!

[2015-10-20 15:12] dickeyxxx commented on #2
it's this tool https://httpd.apache.org/docs/2.4/programs/htpasswd.html
it's not part of this package

[2015-10-20 15:12] #2 closed

[2016-02-18 22:15] ransombriggs opened #6 "Properly handle tarball SHA changes in central repository"
When there is a SHA mismatch happens due to tarball / SHA changes in the central npm repository, the changes are not reflected in elephant, causing installs / updates to fail with sha mismatch errors.

[2016-03-04 04:10] resistdesign commented on #1
:+1:

[2016-03-04 22:55] bhanuc opened #9 "Allow alternative storage options like filesystem"
We have a specific use case of self hosting the registry on-demand on our server itself . I think it would be easy to create a pluggable system of switching storage backends.  I can contribute with a pull request with a sample implementation.

[2016-03-04 23:27] dickeyxxx commented on #9
While this isn't an unreasonable request, it breaks one of the major goals of this project to make the app servers stateless. Feel free to fork this project if you would like to do that, but I wouldn't be able to accept a PR for it even as an optional configuration.

[2016-03-07 14:35] raybooysen commented on #9
I came here from Sinopia and one of the reasons we wanted to use Sinopia was to ensure we didn't have to rely on the internet for builds.  This would be a great feature to have.

[2016-03-08 15:26] dickeyxxx commented on #9
I made this a bit clearer in the README, but this is a 12 factor app http://12factor.net/ and as such adding filesystem storage as an option would make it stateful and break 12 factor.

My opinion is that you shouldn't have stateful servers ever. Too much can go wrong, they're difficult to backup, they crash, etc. S3 is a much better solution for package storage in all environments IMO.

But again

[2016-03-08 15:31] raybooysen commented on #9
Sure.  Unsure of what you mean by stateful.  S3 is state, just happens to be somewhere else.  Anyway, thanks for the feedback

[2016-03-08 15:40] dickeyxxx commented on #9
Stateful servers. S3 isn't a server, it's a service.

[2016-03-08 15:51] raybooysen commented on #9
Like the file system as a service? :)

On 8 March 2016 at 15:40, Jeff Dickey <notifications@github.com> wrote:

[2016-03-08 16:05] dickeyxxx commented on #9
I can elaborate. The problem with using the filesystem is now you have to manage the server. You need to back it up. You can't run a second server for failover or scaling since the files can only be on one box. With a stateless server it can be blown away and replaced at any time, which works well in cloud environments where servers can always disappear or fail.

Yes ultimately S3 is still a serve

[2016-03-08 17:57] raybooysen commented on #9
Would you be interested in even a PR that pulled the S3 out into a provider model?  I can fork your project but would prefer just to write my own provider and plug that in.

That would mean we don't have to fork and still get all the benefits as you say.

[2016-03-08 19:05] dickeyxxx commented on #9
sorry but no. I don't want the added complexity.

[2016-03-08 19:13] raybooysen commented on #9
OK, that's unfortunate to hear. We're talking one function to return the s3
impl. Would have been nice to collaborate.
On 8 Mar 2016 19:06, "Jeff Dickey" <notifications@github.com> wrote:

[2016-03-15 13:39] adarshaj commented on #9
Is there a fork with the said fs support already? I'm interested.

[2016-03-15 21:31] bhanuc commented on #9
I have made a fork [here](https://github.com/bhanuc/alphonso). I plan to pursue its development independent of this project. Feel Free to test/contribute to it. For now I have replaced fs with s3 but  I plan to make it pluggable very soon. Thanks for this awesome project btw.

[2016-03-17 19:28] dickeyxxx commented on #6
fixed in https://github.com/dickeyxxx/elephant/pull/8

[2016-03-17 19:28] #6 closed

[2016-03-23 04:01] zeke opened #10 "How are unpublish events handled?"
This happened today: https://medium.com/@azerbike/i-ve-just-liberated-my-modules-9045c06be67c#.37j7cvuek

If I was using elephant as my registry, would those unpublished modules stick around, or would they be unpublished just like they are on the registry.npmjs.org ?

[2016-03-23 06:17] dickeyxxx commented on #10
you won't be able to install them since they won't be included in the manifest, but the tarballs will still be in S3

[2016-03-23 06:18] dickeyxxx commented on #10
well, that's if a version was unpublished, if the entire package disappeared it would still be in elephant

[2016-03-23 06:50] tmaher commented on #10
Continuing in that vein, what happens if the package disappears and then reappears?

[2016-03-23 06:51] tmaher commented on #10
Err, reappears because someone squatted on the name

[2016-03-23 08:01] dickeyxxx commented on #10
if the tarball sha changes it'll be redownloaded

[2016-03-23 14:58] dickeyxxx commented on #10
I don't think generally you can republish the same version again though. It happened once with pad-left, but I think that was a one-time special case.

[2016-03-24 15:06] nmccready commented on #10
Is there a way to ignore this? The whole purpose of elephant is to have a fail safe back up of repos regardless of what happened on npm. Could a setting be added to ignore unpublishing?

[2016-03-24 19:44] dickeyxxx commented on #10
That's not the goal of elephant, the goal is to stay up when npmjs.com is down but npmjs.com is STILL the canonical source of truth. If npmjs.com is up and has a different package metadata it should continue to use that.

Having said that, an unpublished package would still be available since elephant considers a 404 down.

[2016-04-09 05:28] dickeyxxx commented on #10
given npm's policy has changed around this, I'm going to close this. But If there is anything specific you would like to see definitely let me know!

[2016-04-09 05:28] #10 closed

[2016-05-11 12:52] ealves-pt opened #12 "Alternative for env variables"
Is it possible to add an alternative to environment variables? I want to build a docker container with this project but the idea of passing environment variables is not very safe.

[2016-05-11 17:31] dickeyxxx commented on #12
Not very safe? Compared to what?

[2016-05-11 21:27] ealves-pt commented on #12
I should have been more specific, the only environment variable that concerns me is the AWS secret key.

According to docker security standards one should not pass secret keys as environment variables because those are available to all the other containers and that could lead to security problems.

[2016-05-11 21:36] dickeyxxx commented on #12
can you point me to some documentation that describes this? and an alternative?

This is a 12 factor app, which is configured solely by environment variables. If there is a safer alternative that works better with docker though I can look into it.

[2016-05-12 08:04] ealves-pt commented on #12
You can read something about this here: https://github.com/docker/docker/issues/13490. There is no clear better way on how to handle this so tbh I don't which is the best solution.

I would say that the option could be to fetch those values from a file if they are not set that way I could keep those private and limit access to them.

[2016-05-12 14:33] dickeyxxx commented on #12
Given that, I'm not inclined to offer another solution. Static files are not a good way to configure an app and goes against 12 factor.

[2016-05-12 14:33] #12 closed

[2016-05-12 14:35] dickeyxxx commented on #12
if you really want to use a file, just use the `--env-file` argument

[2016-05-12 14:43] dickeyxxx commented on #12
or if you want to do it only within the container, you could use this https://www.npmjs.com/package/dotenv

[2016-05-14 09:30] ealves-pt commented on #12
I understand but I also think that this should not be so deeply attached to the 12 factor methodology and should give more flexibility. The idea of having secret keys in env variables is definitely not a good practice because they are shared between linked containers.

Anyway, thank you very much for the feedback.

[2016-06-08 01:09] HenryTheHamster opened #14 "REDIS_URL seems to be required, but docs have it 'optional'"
Hey, great tool, we've been wanting something like this for _ages_

Just an issue we had setting up, the docs mention REDIS_URL as being optional, but we experienced timeouts unless we had a running cluster and this env var set. Is there something we're missing, or is this just a docs bug?

Cheers, Andy

[2016-06-29 19:59] dickeyxxx commented on #14
fixed in https://github.com/dickeyxxx/elephant/commit/a45a6481813f2f744727c9d9cdee55f90a626fb1

[2016-06-29 19:59] #14 closed

[2016-07-15 15:15] fcanela opened #15 "Unhandled rejection error caused by redirect"
I am excited about your project. Sinopia seems unmaintained and it doesn't seem to be a stable and maintained fork out there. I will test elephant to my pet projects and promote it in my company if it fits our needs.

I cloned the repo, created a S3 bucket (eu-west), AIM credentials, set up the env vars and run the start npm task.

After replying the 3 npm login questions with the registry option

[2016-07-15 16:41] dickeyxxx commented on #15
it just looks like your keys don't have permission, maybe try seeing if you can use the aws s3 cli client to list, put, and get objects?

[2016-07-15 16:44] dickeyxxx commented on #15
I put in the bucket policy for reference that we use: https://github.com/dickeyxxx/elephant/blob/master/s3_bucket_policy.json

[2016-07-15 19:14] fcanela commented on #15
I gave it full S3 access but I will check and retry. Thanks.

[2016-07-15 19:18] fcanela commented on #15
The credentials has the following policy attached:

    {
      "Version": "2012-10-17",
      "Statement": [
        {
          "Effect": "Allow",
          "Action": "s3:*",
          "Resource": "*"
        }
      ]
    }

[2016-07-21 23:20] therippa opened #16 "Scoped dependencies from official npm registry not working"
Take this node module for instance - https://github.com/request/core/blob/master/package.json

It references scoped packages (@request) available on npmregistry.org, but not published to the elephant repository.

When requesting them, it seems the tarball isn't created.

[2016-07-22 00:16] dickeyxxx commented on #16
what exactly isn't working? I'm able to install that package through an elephant server.

[2016-07-25 20:40] therippa commented on #16
My bad, was the end of a long day and didn't realize it was still pointed to our older build of elephant.

[2016-07-25 20:40] #16 closed

[2016-07-27 16:16] jdxcode opened #17 "support fastly"
fastly might be able to provide more granular caching to make elephant faster. Potentially this could also allow us to CDN private packages.

[2016-07-28 15:42] dickeyxxx commented on #9
It's been a few months and some people have been using this. I've come around a bit on this functionality, I think it does have some use-cases.

@bhanuc how is your implementation working for you? Do you think you could start a PR to add this in?

[2016-07-28 16:31] dickeyxxx commented on #1
I've got an idea how to make this work and still have the CDN stuff. Hopefully I'll get some time to work on it soon-ish.

[2016-07-28 19:00] bhanuc commented on #9
@dickeyxxx I had moved the storage layer into a different module. I can create a similar module for s3 and fs based on the exisiting code, but that would require moving s3 specific code in a different module. It would also mean initialising the storage layer in config.js and using a storage agnostic api in the core module. I can start a PR, but let me know if you are ok with the changes mentioned

[2016-07-28 19:08] dickeyxxx commented on #9
that sounds reasonable to me. I imagine the idea to detect which storage layer would be if `AWS_S3_BUCKET` is set or not?

[2016-07-28 19:11] raybooysen commented on #9
Would be nice to.be configuration based. So not checking if an aws variable
exists but could be any plugin provider

On 28 Jul 2016 20:08, "Jeff Dickey" <notifications@github.com> wrote:

[2016-07-28 19:38] dickeyxxx commented on #9
Using a configuration file won't work on 12 factor services so it has to be configurable by environment variables.

[2016-07-28 19:40] raybooysen commented on #9
Didn't mean a config file. Just meant that the absence of an AWS key
shouldn't define the provider.

On 28 Jul 2016 20:38, "Jeff Dickey" <notifications@github.com> wrote:

[2016-07-28 19:41] dickeyxxx commented on #9
Something like `NPM_REGISTER_PROVIDER=s3|local` might be ok

[2016-07-29 21:15] bhanuc commented on #9
It seems this particular kind of url is not been handled currently.  http://localhost:3000/isarray/-/isarray-0.0.1/8a18acfca9a8f4177e09abfc6038939b05d1eedf.tgz . Should I create a new issue for this or fix it in my PR.  Any thoughts on this.

[2016-07-29 22:01] bhanuc commented on #9
Kindly see changes in my latest fork here- https://github.com/bhanuc/npm-register . I cannot test the s3 specific module but it should mostly work. I took my own liberty at changing things, let me know if are ok with the changes.

[2016-07-30 20:00] #9 closed

[2016-08-10 17:04] okeydoke opened #19 "Authentication issues"
Hey there,

I'm trying to authenticate on the elephant register so I can publish a private package but getting the following error:
[code]

I tried a using my NPM account as well as creating a new one via `npm adduser --registry http://<IP_ADDRESS>` but that also fails with same error. Any ideas whats going wrong?
Thanks!

[2016-08-10 20:34] dickeyxxx commented on #19
`adduser` doesn't do what you think it does, it's just an alias for `login`. Read the instructions in the README, it explains how to setup accounts.

[2016-08-10 21:06] okeydoke commented on #19
Oh right my bad! I totally skipped over the S3 htpasswd part of authentication

[2016-08-10 21:18] #19 closed

[2016-08-10 21:46] dickeyxxx commented on #19
potentially we could make the authentication disableable if you're in a kind of environment that makes it unneeded

[2016-08-12 19:25] okeydoke commented on #19
Actually that would be quite good.

[2016-08-17 08:53] dannisi opened #22 "ask a question"
whether I can run the project directly use npm-register after npm install?

[2016-08-21 09:56] ealves-pt commented on #1
@dickeyxxx I don't know what is your plan but it would be nice that we could manage organizations, teams and users with it.

[2016-08-21 15:33] dickeyxxx commented on #1
#1 would certainly have to come first
On Sun, Aug 21, 2016 at 2:56 AM Eduardo Alves <notifications@github.com>
wrote:

[2016-08-21 17:31] ealves-pt commented on #22
@dannisi if you install this running `npm i -g npm-register` then you can simply start  it with `npm-register start`

[2016-08-22 00:11] zeke opened #27 "Error: Cannot find module 'ioredis'"
I just deployed an app using the "deploy to heroku" button, and I'm getting this error from the web process:

[code]

[2016-08-22 00:24] zeke opened #29 "Configuring npm CLI to use new registry URL"
The README says to do this:

[code]

But `npm help update` says:

Shouldn't the command be something like this instead?

[code]

[2016-08-22 00:40] zeke opened #30 "How are packages stored?"
I got this thing working! So hard to set up S3 credentials. :scream:

I see the packages pouring in:

![screen shot 2016-08-21 at 5 37 55 pm](https://cloud.githubusercontent.com/assets/2289/17840894/403e9bf2-67c6-11e6-8c6e-ecd69c039b44.png)

I don't see any version info, though. How are different versions of the same package cached?

[2016-08-22 04:48] zeke opened #31 "npm publish fails"
It would be nice if this registry could forward/proxy publish commands to the main registry.

Otherwise it looks like I'll have to change my npm config every time I want to publish something.

[code]

[2016-08-22 16:16] okeydoke commented on #29
Yeah I think that's a mistake in the README

[2016-08-22 16:17] okeydoke commented on #30
If you look in the `tarballs` 'folder' the different version are in there

[2016-08-22 16:24] okeydoke commented on #31
Adding an `.npmrc` file to the root of your project with something like the following might help
[code]
for scoped packages you can also add
[code]

[2016-08-22 16:31] okeydoke opened #32 "Published packages fail to download eventually"
After some amount of time (not sure exactly, maybe a day or so) packages that have been published fail to be downloaded. Is there some form of caching/mapping that is expiring? maybe redis? The files are being stored in S3 and there is a corresponding version tarball on the bucket.
The example below is for a scoped package but also had the issue with non-scoped packages.
[code]

Only solution I ha

[2016-08-22 17:40] pvieira91 opened #33 "Webapp"
I'm used to sinopia but looks like that project is not being maintened. I installed npm-register just like your guide but I cannot access a webui with the list of modules.
Does npm-register suports a web UI to search and view the npm modules?

[2016-08-22 17:41] dickeyxxx commented on #33
No, this project does not have a web UI. I might accept a PR for one.

[2016-08-22 17:42] dickeyxxx commented on #32
does the package also exist on npm? or only in your registry?

[2016-08-22 17:44] dickeyxxx commented on #31
This is a slightly different use-case than what I designed npm-register to be—to have private packages as well as public ones.

I'd be willing to make this configurable somehow. Maybe also with the configuration to solve #1. I'm not sure what that would look like right now though.

[2016-08-22 17:44] dickeyxxx commented on #30
You're looking at the metadata for packages, of which there is only one. The tarballs are stored in `/tarballs`.

[2016-08-22 17:46] dickeyxxx commented on #29
Both are valid, we could add the other one to the README though

[2016-08-22 17:46] #27 closed

[2016-08-22 17:51] dickeyxxx commented on #33
Definitely talk to me if anyone starts building this first though. It would be a lot of work and I want to make sure we get a good direction for it.

[2016-08-22 17:52] ealves-pt commented on #33
@dickeyxxx I was actually thinking about building a UI with Vue.js for it.

That's why I've forked your project. 😄

[2016-08-22 17:52] okeydoke commented on #32
Only in my registry

[2016-08-22 18:02] dickeyxxx commented on #32
It doesn't use the cache for the tarballs at all, it pretty much just tries to fetch the file out of s3. Is the tarball in s3? I'm putting a log line in right now that will say `Fetching...` when it attempts to grab something out of s3.

[2016-08-22 18:02] dickeyxxx commented on #32
grab the latest `HEAD` version of this, that has the logging message

[2016-08-22 18:03] dickeyxxx commented on #32
FYI I haven't seen this happen before, and it definitely would be a major problem for us. Maybe it's s3 permissions or something?

[2016-08-22 18:04] dickeyxxx commented on #33
Thinking about this a bit more, I've got some pretty specific ideas about how I want this to work. It might be better if I gave it a first pass to get the initial front-end framework up, then started accepting additions to it.

[2016-08-22 19:04] okeydoke commented on #32
Hmm yeah it doesn't seem to be `Fetching` the published package. It fetches all the other ones and then looking at the log, get a 404 at
[code]

[2016-08-22 19:06] dickeyxxx commented on #32
I think this might be something related to scoped packages then. There are no conditionals on that route that I can see that would do anything other than showing that message.

[2016-08-22 19:07] dickeyxxx commented on #32
Come to think of it, I'm not sure I ever actually tested publishing scoped packages.

[2016-08-22 19:09] okeydoke commented on #32
It's weird, cos it works for awhile

[2016-08-22 19:12] dickeyxxx commented on #32
it might be client-side caching

[2016-08-22 20:55] okeydoke commented on #32
Okay I think I know what the issue is. https://github.com/dickeyxxx/npm-register/blob/master/routes/tarballs.js#L36 doesn't actually match the path that is being provided when using a @scoped package

[code]
changing to the following removes the 404 error
[code]

But now getting a checksum error

[2016-08-22 21:09] dickeyxxx commented on #32
try the latest `HEAD`, I put a patch in for this

[2016-08-22 21:13] okeydoke commented on #32
AH ok, actually can't test off HEAD on the environment we've set up since its installed via npm. Guessing haven't published recently?

[2016-08-22 21:14] dickeyxxx commented on #32
you can install from github, just do `npm install dickeyxxx/npm-register`

[2016-08-22 21:33] okeydoke commented on #32
Hmm doesn't seem to be working with PM2 after updating on the vm we're running it on

[2016-08-22 21:46] zeke commented on #30
Cool. Thanks.

[2016-08-22 21:46] #30 closed

[2016-08-22 22:13] okeydoke commented on #32
Had to revert back to npm registry installed package

[2016-08-23 10:05] throrin19 opened #34 "Possibility to login from other source than htpasswd"
Hi,

I check your project and I think, it's really good if we can login from external services (github, gitlab, ...) insteadof htpasswd file.

It's possible to add this with plugin or other part ?

[2016-08-23 12:48] pvieira91 commented on #33
I'm available to help you guys. In mean time, I will have to stick with sinopia

[2016-08-23 15:33] dickeyxxx commented on #34
All having an account does is let you publish packages. If we made it so anyone with an external account could login that would allow anyone to publish a package. It doesn't make sense with current functionality.

[2016-08-23 16:43] dickeyxxx commented on #32
what error are you getting? I have an idea what it might be, but without an error it's hard to know.

[2016-08-23 16:45] #22 closed

[2016-08-23 17:42] okeydoke commented on #32
I think the issue is running `server.js` didn't actually start the server

[2016-08-23 18:32] dickeyxxx commented on #32
use start.js instead

[2016-08-23 18:32] dickeyxxx commented on #32
or better yet `npm start`

[2016-08-23 18:52] okeydoke commented on #32
Ok thanks, that works

[2016-08-24 11:59] razbegaev-nikolay opened #35 "npm-register doesn't work offline"
npm-register is configured to work with fs storage
Then I'm turning off internet connection by disabling default gateway and trying to install webpack I got an error (http://localhost:5984 is localy running npm-register):
% npm install --verbose --registry=http://localhost:5984 webpack
npm info it worked if it ends with ok
npm verb cli [ '/opt/node-v4.5.0-linux-x64/bin/node',
npm verb cli   '/opt/

[2016-08-25 02:34] kop opened #36 "Add a Dockerfile"
It would be great to have an official Docker image :)

[2016-08-25 13:26] razbegaev-nikolay commented on #36
https://hub.docker.com/r/axnux/npm-register/

[2016-08-25 14:33] kop commented on #36
@razbegaev-nikolay, thank you. But it's not official, not linked to latest master and does not have version tags available.

[2016-08-26 17:53] ealves-pt opened #38 "Release v2.0.3"
@dickeyxxx could you release a new version with the latest PR that I've made? I kinda need that :P

[2016-08-30 15:58] okeydoke commented on #38
Yeah also would like the new changes in a release.
I dont think a minor point release is right though, its has breaking changes in it

[2016-08-30 16:00] #32 closed

[2016-08-30 16:30] dickeyxxx commented on #38
it might take me a while to get around to testing this and everything, for now just install from github

[2016-08-30 17:30] okeydoke commented on #38
Hmm don't really want to be installing from master as part of an automated step

[2016-08-30 22:34] dickeyxxx commented on #38
Just do `npm i dickeyxxx/npm-register#13902fdfe0c8faf6ed1fd3b853aae2862bd9b1c2`. It's literally the same thing as if I were to cut a release.

[2016-08-31 01:21] dannisi commented on #22
thanks

[2016-09-12 22:09] cdibbs opened #40 "module.parent not null when run from npm-register.cmd"
The server will not start under windows after global installation. Poking around, it's due to module.parent:

[code]

When you install under windows, you get a `npm-register.cmd` which then runs `npm-register\bin\npm-register`, which becomes the parent. I was able to get it working by skipping all that and running `node path/to/start.js start`. That works for me, for now.

Here's a dump of module.

[2016-10-04 23:04] madaz commented on #40
Same problem on Windows 10, to start I use the the following cmd line
`node C:\Users\[UserName]\AppData\Roaming\npm\node_modules\npm-register\server.js`

[2016-10-05 00:57] deployable opened #43 "Docker signal handling"
The current docker setup does not handle `sigint` (ctrl-c) or `sigterm` (`docker stop`) so the process needs to be killed with a `sigkill` to stop it.

[2016-10-05 00:59] deployable commented on #43
https://github.com/dickeyxxx/npm-register/pull/42

[2016-10-05 01:37] dickeyxxx commented on #43
The application does seem to respond to those signals:

[code]

[2016-10-05 02:29] deployable commented on #43
Sorry, it looks like they do have a [handler for `SIGTERM` in `npm` now](https://github.com/npm/npm/blob/8fa75cd0313e3cea8459f89b79208461e54b033b/lib/utils/lifecycle.js#L259). Just not a `SIGINT`.  I assumed it was both whenever I run into the issue.

The problem doesn't appear when running `npm start` manually. Only when the command is launched by docker as PID 1 via `CMD [ "npm", "start" ]`

[co

[2016-10-05 07:48] deployable opened #44 "Timeout set on the command line via TIMEOUT=20000 causes error"
Setting `TIMEOUT=10000 node start.js` on the command line fails on an incoming request with

[code]

[2016-10-05 07:50] deployable opened #45 "koa-timeout has a static timeout configured"
The server uses koa-timeout which is configured with a [hard 10 second request timeout](https://github.com/dickeyxxx/npm-register/blob/7d98e9f648d6b8cd09f25d83e4f2aeecc67c9347/server.js#L17) rather than using the [config limit](https://github.com/dickeyxxx/npm-register/blob/master/config.js#L9).

I was expecting it to follow `config.timeout`/`env.TIMEOUT` when running with `TIMEOUT=20000 node star

[2016-10-05 11:06] deployable opened #48 "Timeouts and shasum errors with fs storage"
There seems to be some weirdness when koa-timeouts occur.

The error seems to work well for `/package` requests which occasionally go wrong and don't get a response for a long time.  A 408 error is thrown, npm fails to parse the non JSON response and tries again. All good.

When a tarball takes a while to load, the koa-timeout will timeout the client request and send a 408 but then the npm request

[2016-10-05 11:12] deployable commented on #48
The corrupt files have consistently had their ends truncated so far.

[code]

[2016-10-05 20:30] dickeyxxx commented on #48
I put together a first pass at fixing this. Let me know what you think.

[2016-10-06 01:13] deployable commented on #48
Cool thanks, although same problem testing this! Interestingly it's occurring more frequently now. Something odd is going on here, let me check a few things...

[2016-10-06 02:19] deployable commented on #48
So it looks like the cause of the truncations was external. There's a router this data was going via that also manages vpn connections that was performing particularly badly today. I dropped all the vpn connections and then the timeouts that also truncate appear to have stopped happening. The router is possibly dumping the occasional tcp connection.

For the app side of it, I can put together a PR

[2016-10-17 22:11] raininglemons commented on #33
@dickeyxxx Have you started on this? Else I'm keen, whether its as a plugin or to later be pulled in. Would probably do it with React...

[2016-10-18 13:56] ransombriggs commented on #33
@raininglemons @dickeyxxx is taking time off until the end of the month, at which point he should be able to respond to this

[2016-10-26 18:15] donhenton opened #51 "cant run simple system"
Missing something obvious no doubt

* npm install -g npm-register
* npm-register

get this error:

[code]

Running on MAC Sierra

Any help appreciated

[2016-10-26 18:22] glasseyes42 commented on #51
node version?

[2016-10-26 19:07] donhenton commented on #51
v5.6.0

[2016-10-26 19:16] glasseyes42 commented on #51
In node 5 you could use a load of harmony flags to enable destructuring etc, but you'd be better off going with node v6 upwards (v6 recently went to LTS status)

[2016-10-29 14:56] #51 closed

[2016-11-29 09:16] GongT opened #53 "tarball url must follow package.json"
router path of tarball is '/:scope?/:name/-/:scope2?/:filename/:sha'

But there is no document about this.

In fact, some npm cdn do not use this url ( they modified package file )

example: http://registry.npmjs.org/

[2016-11-29 19:40] dickeyxxx commented on #53
I'm not following. What's the problem?

[2016-11-30 04:35] GongT commented on #53
[tarballs router](https://github.com/dickeyxxx/npm-register/blob/master/routes/tarballs.js#L8)
``` r.get('/:scope?/:name/-/:scope2?/:filename/:sha', function * () { ```
This consider npm(cli) will try to download tarball from url looks like: `/@types/node/-/@types/node-x.y.z/xxxxxxxxxx.tgz`

But in fact, npm will download tarball from anywhere defined by `package.versions['x.y.z'].dist.tarball`

N

[2016-11-30 04:47] #38 closed

[2016-12-21 23:18] FLYBYME opened #59 "minio support"
I would like to see minio.io support.

[2017-01-03 00:01] danielo515 commented on #1
I'm confused about this, are the published packages publicly available? There is no way to make them private?

[2017-01-03 19:46] milankinen commented on #1
Hi @dickeyxxx!

I could make a PR making read/write auth configurable if it's ok for you. In my implementation there would be two environment variables:

* `AUTH_WRITE=true|false` (defaults `true`)
    * All `post/put/delete` routes except `auth`
* `AUTH_READ=true|false` (defaults `false`)
    * All `get` routes except `index` and `auth`

`auth` route authentication would remain as it is (non-conf

[2017-01-05 12:58] dickeyxxx commented on #1
@milankinen that sounds reasonable, but maybe prefix the var with `NPM_REGISTER_*` so they won't conflict with anything else

[2017-01-05 14:20] milankinen commented on #1
@dickeyxxx Absolutely! 👍

[2017-01-12 15:20] radenui opened #61 "npm unpublish support ?"
Hi there,

I have trouble with npm unpublish command it returns me something like:
[code]
Is this command supported ?

Thanks !

[2017-01-19 22:37] danielo515 commented on #1
What is the state of this? I would love to use this in production,but I need packages to be totally private .

Regards

[2017-01-20 16:56] milankinen commented on #1
Sorry I had other pending tasks I had to finish first, but here is my first try: #62

[2017-01-20 17:55] #1 closed

[2017-02-07 13:15] milankinen opened #63 "Tag Docker images per version"
Hi!

We just started using our own private registry by using `dickeyxxx/npm-register` Docker image. However, we noticed that there is only `latest` tag in Dockerhub which worried our admins a little bit 'cause we can't ensure specific versions during our environment (re-)installations in future.

Could it be possible to start creating version tags per release to Dockerhub? If you see no problem in

[2017-02-07 21:41] dickeyxxx commented on #63
certainly willing to accept a PR

[2017-02-09 20:59] fforres opened #64 "Console.error being used for more things that only errors."
It was a bit confusing for me seeing information being displayed as an error (with `console.error`)

Shouldn't it be a console.info or console.log?

I'd love to throw a PR for it

[2017-02-12 16:09] dickeyxxx commented on #64
sure, I'd accept

[2017-02-15 05:06] qrrock opened #65 "local system fs htpasswd validation auth"
Hi there

my idea is: custom docker container

i have tried dickeyxxx/npm-register and my custom one that i can easily debug

on each i see response from npm-register in the browser however can't get through login

1. can you explain where to put htpasswd and is there any way to check if it see the file

for exaple for dickeyxxx/npm-register i should attach volume with file to
-  $HOME
- /data
- /

[2017-02-15 06:31] qrrock commented on #65
also tried with working dir

 docker exec npm_register "ls"
[code]

[2017-03-08 00:59] Roam-Cooper opened #69 "Can't logout"
```npm logout```
Results in
[code]

Is this api just not supported?

[2017-03-08 01:01] Roam-Cooper commented on #65
The htpasswd file must be located at ./tmp/htpasswd
In the directory that you're going to run npm-register from, do
[code]
The documentation for this project is terrible.

[2017-03-08 15:46] dickeyxxx commented on #69
not at the moment, feel free to submit a PR though, should be pretty simple

[2017-03-14 22:06] jtrussell opened #70 "Unable to publish under same name as public registry packages"
For example, with this package.json:

[code]

Basically I:

- Created a new folder called "react"
- Ran `npm init` + created a silly noop `index.js` file
- Updated the version number to something big
- Ran `npm publish --registry my-registry.com`

The npm cli tells me version 99.99.99 was added and indeed I see the tarball in s3.

However, when I go to install this package, it cannot be found. E.g

[2017-03-14 22:19] jtrussell commented on #70
My workaround/safeguard (which feels fine) is to only publish scoped packages under namespaces I own on the public registry.

[2017-03-17 17:55] philwhln opened #71 "`npm dist-tag` fails on scoped packages"
Is this because the `/` is being covered to `%2f`?

Similar issues with `npm dist-tag ls`.

[code]

[code]

[2017-03-21 00:27] philwhln commented on #71
Turns out I had the wrong S3 creds, which isn't handled in a way that really gives any indication of this. Will try and PR some updates to handle this better.

[2017-03-21 00:27] #71 closed

[2017-03-29 16:11] tmaiaroto opened #72 "Can't authenticate (Windows edited htpasswd file)"
Can there be more than one user in the .htpasswd file?? There's a very strange behavior with authentication. Users can't seem to login, but I added a test user to the end of .htpasswd and that magically worked.

Just says `invalid credentials : -/user/org.couchdb.user:username`

[2017-03-29 16:16] tmaiaroto commented on #72
Edited the .htpasswd file on Windows... Perhaps this?
https://github.com/dickeyxxx/htpasswd-auth/blob/master/index.js#L36

Does a `\r` need to be in there too somehow?

[2017-03-29 16:22] tmaiaroto commented on #72
I believe that was it. Running dos2unix on the htpasswd file and re-uploading to S3 worked.

[2017-04-30 07:50] modulesio commented on #70
Thanks for the workaround hack @jtrussell!

It does make the whole thing a bit messy if you want to use `npm-register` as a public-facing registry for users though.

[2017-05-01 16:38] dickeyxxx commented on #70
This is by design (though maybe there could be better documentation and/or behavior around it). registry.npmjs.org is supposed to be the source of truth with npm-register providing additional packages. @jtrussell mentions the best way around it.

[2017-05-01 18:46] jtrussell commented on #70
@dickeyxxx perhaps it would be reasonable for a publish to fail (loudly) if the name in question already exists in the publish registry? I'd be interested in putting a PR together if that sounds reasonable. I'm not sure I'd consider this a breaking change as the "successful" publishes never resulted in usable versions of the package.

[2017-05-01 20:17] dickeyxxx commented on #70
definitely down for that @jtrussell. There is still an outstanding issue of someone later publishing a package, but that's a good first step.

[2017-05-02 15:30] twellspring opened #74 "multiple registries and replication"
Looking for a replacement for sinopia.  One issue I am having his how to managed multiple private registries.  Developers are publishing private packages in one location ( AWS staging VPC) and I want those new packages available in 2 other location (  AWS PROD VPC, AWS Failover VPC )

Is there a way to do this with npm-register.   rsync of the data directory kind of works with sinopia.

[2017-05-02 16:53] dickeyxxx commented on #74
you could try rsyncing with the file storage method, not sure how well it would work but there isn't a central "registry" file or anything, it just attempts to see if the files exist before returning them so it should work in theory

[2017-05-03 22:36] sbuzonas commented on #34
It would be nice. Not necessarily allow all external users, but some sort of pluggable auth mechanism. I'm thinking about writing in cognito support.

[2017-05-16 16:40] haakonnessjoen opened #75 "Does not support npm upgrade"
Hey,

Nice module, but this module has the same problem as sinopia. It does not handle npm upgrade correctly.

Lets say i publish myapp@1.0.1 and then later i upload myapp@1.0.2.

If i do a npm upgrade in a package that has a myapp dependency, it does not think there is a newer version. Maybe you are not generating etag using info from latest package.json file.

[2017-05-16 16:42] dickeyxxx commented on #75
well it does cache for about 15 minutes so you might be running into that

[2017-05-16 16:43] dickeyxxx commented on #75
going to need more information if you think there is a problem, we don't see issues using `npm upgrade`

[2017-05-16 16:47] haakonnessjoen commented on #75
Sorry, I got it to work now. I had specified the absolute version of the package in the dependencies section. I was sure it was '*'.

[2017-05-16 16:47] #75 closed

[2017-06-09 17:52] jtrussell commented on #70
Haven't forgotten about this but was wondering on a possible solution to the other half of the issue. How about a configurable blacklist of package names/patterns to ignore from the uplink registry? E.g. I could:

- Tell npm-register to ignore `'react'` on the uplink registery so that I can publish my own version here.
- Ignore packages matching `/^@acme\/.*$/` so I can safely publish under that s

[2017-06-09 17:53] dickeyxxx commented on #70
+1 sounds like a good solution

[2017-06-28 17:38] jessebye opened #78 "SSL/HTTPS Support"
Passing our user credentials to the npm server in cleartext over HTTP poses a security concern for us. Also, any npm modules downloaded from the server are transmitted over HTTP.

Would like to see support for SSL/HTTPS so that we could address these security concerns. Is this on the roadmap?

[2017-06-28 17:41] dickeyxxx commented on #78
Terminate SSL before the app. This configuration should not be a part of the app itself.

[2017-07-03 09:51] peteroreil opened #79 "Python >= v2.5.0 & < 3.0.0 is required"
Readme fails to identify Python is required as a dependency

[2017-07-06 23:53] dickeyxxx commented on #79
what requires it?

[2017-07-07 09:29] peteroreil commented on #79
Apologies. I should have appended the log.
Its a node-gyp dependency

[code]

Python is installed on this machine, but node-gyp does not support the installed version (required version.

I would think that it would be best to list installation dependencies and setup /configuration dependencies
in the README.

[2017-07-07 16:11] dickeyxxx commented on #79
It's totally possible that if you use a later version of npm it may need a
different version of python. I'd like to stay out of attempting to list
dependencies like this since node-gyp isn't even a dependency of this
project, it's already on your machine. These dependencies will change and
the information will be out of date. Better to be lacking information than
providing misinformation.
On Fri,

[2017-07-07 16:11] #79 closed

[2017-07-10 02:00] quickwind opened #80 "Add support of LDAP authentication?"
It would be great to add LDAP authentication option in addition to the current password file option. In our case, we need LDAP authentication to cover the human users and password file for the service account for CI/CD etc.

[2017-07-10 02:04] quickwind commented on #33
Any progress on this, guys?

[2017-07-10 18:14] dickeyxxx commented on #33
Sadly it's falling pretty low on our priority list at the moment. If someone wanted to take a stab I'd be willing to take a look at a PR.

One suggestion on the implementation. It might be useful to export a JSON API that can list all of the packages. Then a front-end could render it but we could also reuse it for other things potentially.

[2017-07-10 18:15] dickeyxxx commented on #33
My plan was to do it with a react app, but I'd be ok with whatever

[2017-07-10 18:16] dickeyxxx commented on #80
I'd be willing to accept a PR. I've never used LDAP so I'm probably not the right guy to build it.

[2017-07-13 15:10] #78 closed

[2017-08-08 21:40] lifeisfoo commented on #63
This can be done in your docker hub configuration page. Just add an [autobuild tag](https://docs.docker.com/docker-hub/builds/#add-and-run-a-new-build) that match (regex) your tags schema and it will be automatically triggered when you push a new tag on github. In this way, when you publish the v3.0.0 tag on github, also the 3.0.0 tag of your image is released on docker hub.

In your case it shoul

[2017-08-16 13:40] dgautsch opened #81 "heroku and s3 login failure"
Hoping I made a dumb mistake and this is easily resolved.

I'm having trouble logging into the registry I stood up on heroku. Here are the steps I've taken:

1. I've created an `htpasswd` file and uploaded it to my s3 instance in the root directory. The htpasswd file was created using the steps in the readme.
2. I then try to authenticate with `npm login --registry https://my-thing.herokuapp.com`

[2017-08-16 20:06] dickeyxxx commented on #81
hmm. Maybe try verifying the password with `htpasswd -v file login`?

[2017-08-17 13:13] dgautsch commented on #81
Hi dickey, I was able to verify the htpasswd file is correct. I'm wondering if this is an S3 configuration issue.

[2017-08-17 13:36] dgautsch commented on #81
After further investigation I tried installing gulp via the registry with this command

`npm i gulp --save --registry=http://myregistry.herokuapp.com`

I looked in the papertrail logs and saw this:

`InvalidRequest: The authorization mechanism you have provided is not supported. Please use AWS4-HMAC-SHA256. `

[2017-08-21 15:33] dgautsch commented on #81
Is this error because I'm using the wrong type of secret key? Or is this an issue with the code? Another thing I thought was peculiar was that when I try to checkout the code from heroku the repo is empty.... Maybe I need to try again.

[2017-08-23 19:11] gwing33 opened #82 "Failing to find `npm view @...` packages"
Some packages (e.g. `@types/react` and `@storybook/react`) aren't found when doing `npm view`. Seems like it needs to handle `@` signs.

Current workaround is to add an .npmrc file with
[code]

But this isn't ideal as the purpose for us using this is to cache npm libs outside of the official npm registry.

[2017-08-23 19:33] dickeyxxx commented on #82
these work fine on our registry

[code]

[2017-08-23 19:41] gwing33 commented on #82
@dickeyxxx Mine did until I removed the couple of lines from my `.npmrc `

[code]

Then...

[code]

[2017-08-23 19:43] gwing33 commented on #82
Now that I look at it, I wonder if apache proxying is the issue. Checking that out.

[2017-08-23 19:57] gwing33 commented on #82
Confirmed this works locally on the machine that is running it. Looks like it's our apache proxy that is botching the request. Closing this. Sorry for the bother/thanks for help!

[2017-08-23 19:57] #82 closed

[2017-08-29 04:25] zeke opened #83 "Unable to install: no such file or directory"
[code]

[2017-08-29 04:26] zeke commented on #83
Install didn't fail with `yarn`, but `npm-register` is not found:

[code]

[2017-08-29 04:30] zeke commented on #83
Tried deleting and re-installing. No dice.

[debug log](https://gist.github.com/zeke/c64103a8ecaf0b6bfdda1cec15815b5c)

[2017-08-29 16:19] jdxcode commented on #83
fixed in https://github.com/jdxcode/npm-register/commit/c4fc582b80fd5b8d2be463af8afc7c80570fe9ae

[2017-08-29 16:19] #83 closed

[2017-08-29 18:37] zeke commented on #83
Thanks!

Got a bunch of [silly output](https://gist.github.com/zeke/34eb977e89bc8ab6c80bf1caf5382e08) about missing `python2`, but it worked. 🙏

[2017-08-30 17:41] dgautsch commented on #81
Bumping this again. Is this something I'm doing wrong on AWS?

[2017-08-30 19:09] jdxcode commented on #81
sorry but I have no idea why you're getting this error

[2017-09-06 17:35] dgautsch opened #85 "README specifies Node 6.x support but the package specifies Node 8.x"
I noticed the auth and user files were rewritten from generator functions to use async calls. These will not work with node 6. as far as I know. Does the README need to be updated?

This change happened here 6a8f0f7

[2017-09-06 17:37] jdxcode commented on #85
removed the note since this is defined in package.json

[2017-09-06 17:37] #85 closed

[2017-09-06 17:38] dgautsch commented on #81
Looks like the aws-sdk was out of date. Updating it fixed the issue. This was fixed in d29d059. Closing

[2017-09-06 17:38] #81 closed

[2017-09-06 20:59] dgautsch commented on #33
I'll take a stab at this with react, noting your request for an API with all the packages listed out. Stay tuned.

[2017-09-08 04:19] dgautsch commented on #33
Can we open a feature branch here called feature/ui so I can submit incremental PRs to it? That way you can review work as we go.

[2017-09-08 15:34] jdxcode commented on #33
I'd rather you work on a fork, the main repo has access to some aws credentials used for the integration tests.

[2017-09-15 16:28] jessebye opened #87 "Error: Can't set headers after they are sent"
We are seeing this randomly on our `npm-register` server:
[code]
Whenever this error is logged, the corresponding `npm install` logs an error:
[code]
(often there are several of these in a row)

After we restart npm-register, the install may succeed. But after a while, it will begin having the same issue again.

[2017-09-15 16:59] jdxcode commented on #87
I haven't had time to fully investigate these but I can tell you it's happening because the request is timing out and it's trying to set the headers on the timed out request

[2017-09-15 17:58] jessebye opened #88 "node-gyp permissions issue with installing latest version (2.5.2)"
On trying to install the latest version via `sudo npm install -g npm-register` (Ubuntu 14.04, Node 8.5.0) it hangs with:
[code]

This error continues to repeat indefinitely. Had to do a `npm config set unsafe-perm true` before I could complete the install.

[2017-09-18 01:04] dgautsch commented on #88
I recommend changing your permissions with [this guide from NPM](https://docs.npmjs.com/getting-started/fixing-npm-permissions). You shouldn't be installing things as root unless you need to. Can you try changing your NPM permissions and reinstalling?

[2017-09-18 01:10] dgautsch commented on #87
When you say "after we install" is this after uploading a new package or installing the server? Or does it start occurring randomly after the server has been running for a while.? Can you provide more reproduction steps? Thanks!

[2017-09-18 01:12] dgautsch commented on #33
Ok so I have a working list of packages from disk, still need to work on s3. This is probably my unfamiliarity with how things are stored, but is there a way to discern your own packages versus cached public ones?

[2017-09-18 17:03] jessebye commented on #87
@dgautsch the server was running for a month or two before we started seeing this. Can't reproduce now after updating to the latest version of npm-register, so it might have been specific to the older version we had been using.

[2017-09-18 17:03] #87 closed

[2017-09-18 17:56] jdxcode commented on #88
It's probably the bcrypt dependency, can you install that one by itself?
On Mon, Sep 18, 2017 at 10:33 AM Jesse Bye <notifications@github.com> wrote:

[2017-09-21 15:28] jessebye opened #90 ""Error: write after end" followed by npm-register crashing"
Just started seeing this error on our npm-register server last night:
[code]

After this error, the app dies.

[2017-09-21 15:29] jessebye commented on #90
Not sure if related, but seeing this in the logs too (app does not crash though):
[code]

[2017-09-21 16:22] dgautsch commented on #90
@jessebye do you know what user actions were taking place when the error occured?

[2017-09-21 20:04] jessebye commented on #90
@dgautsch Most likely just `npm install`. We have a lot of users and servers using the registry, so it's hard to say what action was happening at a given time.

[2017-09-21 20:12] jdxcode commented on #90
this means the response timed out

[2017-09-21 20:13] jdxcode commented on #33
I don't believe so unfortunately. I'm open to adding that information somehow.

[2017-09-22 18:06] jessebye commented on #90
@jdxcode maybe a case for better error handling then? This was crashing `npm-register` every time. It's not happening right now, probably because whatever URL was timing out isn't timing out any more, but I would prefer to not need to manually restart the `npm-register` process when there are timeouts like this 😄

[2017-09-22 21:37] jdxcode commented on #90
I’m certainly not arguing this is ok behavior, I’m just giving some color around why it’s happening. I’ve seen these errors come in on our installation and I don’t know if it’s causing the server to crash or not, but because we run this on a couple of instances in tandem and if one crashes another one simply replaces it it’s not causing us any practical issue.

My point again isn’t that this is ok

[2017-09-24 12:42] Ianfeather opened #93 "Authenticate with official npm registry"
Hi there!

We use a combination of public and private npm modules. We publish the private ones as `@scoped/packages` with `npm publish --access=restricted`.

I'd like to set up npm-register as a proxy in front of them but as far as I can tell there's no way to pass authentication details in the request to npm? I'm happy to add this feature if you'd take it, however i just wanted to double check th

[2017-09-25 15:58] jessebye commented on #88
@jdxcode confirmed it is `bcrypt`.

[2017-10-06 13:28] mr-yaky commented on #59
+1

[2017-10-14 13:28] dgautsch commented on #93
@Ianfeather feel free to open a PR. I'm working on finishing up the front end UI and will move down the issue queue after that.

[2017-10-14 13:30] dgautsch commented on #90
@jessebye I'll have to narrow down the steps to reproduce. I can start going over the code and looking for areas where we're not error handling.

[2017-10-14 13:31] dgautsch commented on #88
Closing this issue out as it was a environment issue.

[2017-10-14 13:31] #88 closed

[2017-10-14 13:32] #72 closed

[2017-10-14 13:33] dgautsch commented on #15
Closing, no activity for over a year.

[2017-10-14 13:33] #15 closed

[2017-10-14 13:34] #34 closed

[2017-10-14 13:36] #65 closed

[2017-10-14 13:38] #64 closed

[2017-10-14 13:40] #48 closed

[2017-10-14 13:41] dgautsch commented on #70
@jtrussell good solution, I'll look to add this to a roadmap after the UI is done.

[2017-10-14 13:53] #45 closed

[2017-10-14 13:58] dgautsch commented on #31
Seems this was addressed in #62 . Closing out.

[2017-10-14 13:58] #31 closed

[2017-10-14 14:01] #44 closed

[2017-10-14 14:01] #36 closed

[2017-10-14 19:14] sbuzonas commented on #34
Is the auth pluggable now?

[2017-10-19 14:29] gillesdemey commented on #70
Hey folks, just got bitten by this today.

We've always published our beta versions `>1.0.0` on our own private repository and decided to release a `1.0.0` version and also make that available publicly on the official NPM registry. To my surprise our existing internal builds started failing when they couldn't find the older versions of our scoped package.

Any ideas on how to force it to accept pa

[2017-12-07 01:34] bitsandbytes opened #96 "npm-register doesn't proxy from npm"
After an initial installation where npm-register was proxying just fine, I re-installed and now am unable to get any success.

Before I go any further: I'm running on CentOS 7.3.1611, npm 5.5.1, npm-register 2.5.2. The installation is tricky only because bcrypt/node-gyp aren't building the bcrypt library unless I make the build dir and then run:
[code]

The logs below show npm-register receiving t

[2017-12-08 16:12] madebyherzblut commented on #96
We ran into the same problem and after some debugging I think the problem is at https://github.com/jdxcode/npm-register/blob/master/lib/npm.js#L54. `req.body` is a string, not an object. I wrapped it in `JSON.parse` and it works as expected.

Maybe someone who is familiar with the codebase knows why this change is needed?

[2017-12-11 15:06] bitsandbytes commented on #96
Thanks for putting your monkey patch here. I tried out verdaccio which sort of "just worked" so I'm going with that. But hopefully the peeps here will make note of your fix. This is a cool project.

[2017-12-11 15:06] #96 closed

[2017-12-13 17:14] jessebye opened #97 "npm-register returning 404 even though package is in official npm registry"
We are encountering a problem with `npm-register` 2.5.2 where we try to install a new package that exists in the official npm registry, but npm-register logs a 404:
```measure#request=2928ms method=GET user-agent="npm/3.10.10 node/v6.12.1 darwin x64" status=404 path=/promise-retry request_id=0.6060019690578522```

and npm complains the package isn't in the registry:
[code]

Restarting `npm-registe

[2017-12-13 18:09] twellspring commented on #96
The above solution worked for me too.

[2017-12-13 18:12] twellspring commented on #97
Looks like the same issue as [Issue 96](https://github.com/jdxcode/npm-register/issues/96)
Leaving this open until the issue gets fixed.

Applied their solution like this

`vim /usr/lib/node_modules/npm-register/lib/npm.js`
Change line 54 to `pkg = JSON.parse(req.body)`
restart npm-register

[2017-12-13 20:54] twellspring commented on #97
Found that I had a server still on version 2.2.0 and it had the `JSON.parse` but 2.5.2` does not.

[2017-12-14 01:37] diervo opened #99 "Scoped packages return 404"
Scoped packages return a 404, for example the command: `npm info @types/node --registry=http://myregistry.com` fails.

That being said it worked a couple of times so It might be related somehow with the issue #96 and #97, since it did work intermittently?

Note that in my server I do have applied the PR #98

[2017-12-14 02:53] diervo commented on #99
Ok I found the root cause: There is a a bunch of race conditions in `http-call` library due to incorrect use of async/await.

The problem is described here: https://jakearchibald.com/2017/await-vs-return-vs-return-await/

Because of this the property `req.body` might be a string or JSON depending if the promise has been resolved.

[2017-12-14 17:05] #97 closed

[2018-01-10 18:03] #93 closed

[2018-01-10 19:24] Ianfeather opened #101 "/usr/bin/env: ‘node\r’: No such file or directory"
Hey @dgautsch, did you just publish 2.6.0 from a windows machine?

`bin/npm-register` has been re-encoded with `\r` for line returns and this is causing the error above. There are similar issues across many projects so it seems to be fairly common, and fixed by specifying encoding:

https://github.com/abrahamjagadeesh/npm-module-stats/issues/1
https://github.com/nwjs-community/nw-builder/pull/105

[2018-01-10 19:25] jdxcode commented on #101
I bet we should probably add a `.gitattributes` file but I'm not that familiar with how those need to be written

[2018-01-10 19:26] Ianfeather commented on #101
Is that respected by npm too? The encoding in the file checked in to git is still unix based from what I see.

I can take a quick look into gitattributes

[2018-01-10 19:31] jdxcode commented on #101
good point, you're probably right. I don't understand why npm isn't just copying the file wholesale I suppose

[2018-01-10 19:33] Ianfeather commented on #101
Yeah I can only guess that the file was open in an editor before publishing and it published an unstaged change? Very peculiar though - i've never seen this before. It looks like we could normalize it with and editorconfig:

[code]

[2018-01-10 19:35] Ianfeather commented on #101
I can make a PR to add this if you like. It might require resaving any/all files.

fwiw when I did change the line endings using `:set ff=unix` git recognised that the file had changed.

[2018-01-10 19:40] jdxcode commented on #101
editorconfig is a good thing and I put it in a lot of projects, but most editors don't look at it by default

[2018-01-10 19:40] jdxcode commented on #101
we should also add a gitattributes file, one of those tickets you posted said that fixed their issue

[2018-01-10 19:41] Ianfeather commented on #101
ok, I can do this. Give me a few mins and I'll make a PR

[2018-01-10 22:47] dgautsch commented on #101
Ah! Sorry everyone. I don't even open up the code in my editor in my machine. I cloned, then published. Sorry for this...

[2018-01-10 23:00] dgautsch commented on #101
I'll check my git settings...I thought I told it to respect line endings and such.

[2018-01-11 07:43] Ianfeather commented on #101
No worries @dgautsch, I don't think it's your fault. Pretty unexpected.

Could you publish 2.6.1 when you get a chance?

[2018-01-11 14:57] dgautsch commented on #101
@Ianfeather published, can you try again?

[2018-01-11 15:11] Ianfeather commented on #101
Will do

[2018-01-11 16:29] Ianfeather commented on #101
Sorry for the delay. GH went down and I can got distracted.

Same issue with 2.6.1 :( I can resolve it in the same way manually too.

Are you able to reproduce this locally? I can reproduce this by npm installing to a fresh directory and running `npm start`.

[2018-01-11 19:13] dgautsch commented on #101
@Ianfeather I know this won't run on windows because I had to fix it in my UI feature branch. So i'm not sure I can reproduce on my machine. This path `./bin/npm-register start` won't work on a Windows box. I suggest we rewrite the start script to `node bin/npm-register start` That should work on all platforms.

[2018-01-15 14:57] #101 closed

[2018-01-15 15:01] Ianfeather commented on #17
Looking at this one because we use fastly and will probably look to add it in at some point. What's the scope of this task?

- Update invalidate.js to work for multiple CDN providers? When is this file run btw?
- Abstract out mentions of cloudfront in the codebase and build in configuration for different CDN providers?
- More granular caching. Is this still a goal? Could you give more detail about

[2018-01-15 17:15] dgautsch commented on #29
I think this has been resolved in the README, closing for now.

[2018-01-15 17:15] #29 closed

[2018-01-23 11:49] protheantom commented on #90
Well, I'm having the same error as @jessebye, the error:

[code]

Is repeated a lot of times, and it finish with the error:
`
Error: write after end
`

However I'm concerned with the opbeat login error.

Why is it trying to loggin to opbeat if I have not the opbeat details defined? I think since Opbeat is an online **profiling** platform the initialization must be optional.

Maybe an ENV variable

[2018-01-23 14:12] dgautsch commented on #90
@protheantom does this happen during npm install like jessebye mentioned?

[2018-01-23 16:01] protheantom commented on #90
@dgautsch yes, also during the npm install (version 2.6.2)

I'm running it inside a Docker container, I think it isn't related, but could be... @jessebye are you running npm-register in a container too?

[2018-02-15 02:29] mingcxb opened #105 "unexpected end of file"
C:\Users\Ming\web>npm isntall
npm WARN tar zlib error: unexpected end of file
npm ERR! code EINTEGRITY
npm ERR! sha1-RqnL1+3MYsjlwGTi0tjQ9ANXZu4= integrity checksum failed when using sha1: wanted sha1-RqnL1+3MYsjlwGTi0tjQ9ANXZu4= but got sha1-x+LstsFw40bTw45mOkhFHL1/T00=. (21902 bytes)

npm ERR! A complete log of this run can be found in:
npm ERR!     C:\Users\Ming\AppData\Roaming\npm-cache\_logs\

[2018-02-15 02:46] #105 closed

[2018-03-21 16:17] jessebye commented on #90
@protheantom not running in Docker. But I see the same logging errors when npm-register crashes. We are running into this bug seemingly once every few weeks now. Just about ready to jump over to a different NPM registry solution since we've had so much trouble with this :cry:

[2018-05-03 15:42] forest opened #106 "Heroku Button Deploy not working"
Here is the output when trying to start the app.

I verified the S3 access and the htpasswd file.

Any suggestions?

[code]

[2018-05-03 22:38] jdxcode commented on #106
it seems to not be compatible with node 10 for some reason https://github.com/jdxcode/npm-register/commit/89b30b9bb0cb39eca0ddedb766a9f23b5ce3890c

[2018-05-03 22:38] #106 closed

[2018-05-03 22:38] jdxcode opened #107 "incompatible with node 10"
see https://github.com/jdxcode/npm-register/issues/106

[2018-06-19 09:13] holms commented on #63
This probably should be closed, this repo already has tags https://github.com/jdxcode/npm-register/tags therefore shouldn't be a problem to setup docker repo on docker hub

[2018-06-19 09:14] holms opened #108 "Docker hub image"
Is there's any plans to have official npm-register repo on docker hub? I mean you have Dockerfile in root of your repository, so why not to have have auto built image on docker hub? :)

[2018-06-19 09:18] holms commented on #90
Saddest part that other solutions doesn't follow 12factorapp and this brings troubles deploying registry with a docker. I mean how can people use only config file for configuration? This solution doesn't scale. That's why this project must live!

[2018-06-20 12:00] holms opened #109 "Passing authorization details from env vars?"
Currently it's only reading auth details from htpasswd file? It's against 12factorapp and it doesn't scale, I need to build own container with htpasswd, instead of using your container (which actually absent on docker hub). That's not good :) I'm expecting to pass auth parameters via cli, or with env vars.

Might submit PR.

[2018-06-20 15:33] jdxcode commented on #109
This is because the intention is for the users list to be dynamic data, not configuration. Ideally there should be a way to add/remove users at runtime with a web interface or CLI.

[2018-06-21 21:29] milankinen commented on #63
Sure!

[2018-06-21 21:29] #63 closed

[2018-06-25 21:55] holms commented on #109
I've actually ended up using docker secrets under docker swarm, which actually requires to have passwords in file (strange standard). Might be useful for someone.

[2018-06-25 23:18] holms opened #112 "Permission denied when trying to create /data/tarballs"
I'm trying to publish a package and getting this

[code]

My docker-compose.yml:
[code]

[2018-06-25 23:33] holms commented on #108
@jdxcode  Can I help you somehow with this? Also as tons of other issues in here and couple of PR's are waiting.

[2018-07-17 00:45] monkeyfuddle opened #118 "Unsupported operation: `npm audit`"
Running `npm audit` against rpm-register results in

It does a POST to the path
`/-/npm/v1/security/audits`

NPM version: 6.2.0

[2018-07-17 15:55] #112 closed

[2018-07-18 13:14] #109 closed

[2018-08-08 16:04] lifeisfoo opened #124 "Unhandled rejection TypeError: Cannot read property '0.0.3' of undefined"
After a local node/npm update, it's impossible to use the register.

I'm using filesystem storage.

Current node/npm version:
[code]

If I run a `npm info` command I receive an error:

[code]

Server log
[code]

If I downgrade my local node/npm to 8.0.0/5.0.0, everything works:
[code]

[2018-08-09 17:55] dgautsch commented on #124
@lifeisfoo i'll have to investigate this evening. thanks for surfacing.

[2018-08-09 17:57] dgautsch commented on #118
PR Open for this https://github.com/jdxcode/npm-register/pull/121

Still needs more test coverage.

[2018-08-10 10:29] lifeisfoo commented on #124
I've done some exploration of this bug and I've found that `TypeError: Cannot read property 'code' of undefined` in the error log above should not be related to this. This is the code from `http-call` lib:
[code]
Yes, it's strange that the `err` object doesn't have the `code` property, maybe it's related to #99 ?
Probably this error arise when the registry receive wrong/malformed/bot requests, but

[2018-08-10 11:24] maplesteve opened #125 "heroku build fails because of "Outdated Yarn lockfile""
Either the yarn.lock has to be updated or the yarn option `--frozen-lockfile` has to be left out.

[code]

[2018-08-10 12:35] dgautsch commented on #125
Can you try deleting your node_modules and yarn.lock then reinstalling?

[2018-08-10 13:58] maplesteve commented on #125
I didn't do this local - I just hit the "heroku Deploy" button from the Readme, entered the required info and clicked "Deploy app". During the build on heroku the above error was shown.

[2018-08-13 00:13] dgautsch commented on #125
Gotcha, I think I know what needs to happen. Reviewing.

[2018-08-31 02:15] dgautsch opened #126 "Circle CI Access Key for AWS causes Failed Integration"
@jdxcode is there anything we can do about the Circle CI tests failing? I think they're linked to your AWS key yea? Is there anyway we can mock the responses from S3 or standup a neutral instance without your key?

[2018-08-31 02:33] jdxcode commented on #126
yeah we rolled those creds at some point so they won't work anymore. I can't give out credentials to the internet so I'm not sure what the best course of action is. A way to stub it out would definitely be good.

We're no longer using npm-register though so I apologize but I won't be able to help much with this project.

[2018-08-31 02:37] dgautsch commented on #126
Yea totally understand. I'll look into alternate solutions then. Thanks jdxcode.

[2018-08-31 02:41] jdxcode commented on #126
Our security team did encounter a pretty big security issue with the project that would let people access any file on the host (specifically the htpasswd file). I put a patch in just now that should fix that.

[2018-08-31 03:32] holms opened #127 "How to disable caching?"
I've actually encoutered error with this:
[code]

It fails to find a package and I actually have no idea how to investigate it, without registry it works.
So I'd like simply to disable caching, how can I do this?

[2018-08-31 05:57] #125 closed

[2018-08-31 06:11] dgautsch commented on #108
@holms not sure how much jd is able to jump into this project anymore. I'll take a look at this in the coming weeks.

[2018-08-31 11:17] holms commented on #127
[code]

Here you go, and there's nothing I can do

[2018-08-31 12:14] dgautsch opened #129 "NPM Installing packages 404's"
Found in version 2.7.1

[2018-08-31 12:52] dgautsch commented on #127
@holms found the issue, for some reason the response on the axios package details from npm is not coming back as an object but a string. Probably because it's so big. I'm putting a check in to parse that out. See ticket #129

[2018-08-31 12:54] dgautsch commented on #129
Steps to Reproduce

1. Run `npm install axios --save`
2. Package 404's

Expected: Package should resolve

The response body for axios is a string and not an object like most packages. Putting a check in for this to parse it out.

[2018-08-31 14:42] #129 closed

[2018-08-31 22:28] dgautsch commented on #53
@GongT is this still an issue for you?

[2018-08-31 22:29] dgautsch commented on #33
We now have the beginnings of a Web UI in v2.8.0. Closing.

[2018-08-31 22:29] #33 closed

[2018-08-31 22:31] dgautsch commented on #40
Windows compatibility was recently added with #92  in v2.8.0

[2018-08-31 22:31] #40 closed

[2018-08-31 22:31] dgautsch commented on #17
@Ianfeather is this still a feature you'd like to see supported?

[2018-08-31 22:32] dgautsch commented on #127
@holms with v.2.8.1 are you still encountering this?

[2018-08-31 23:45] Ianfeather commented on #17
After revisiting, i'm not 100% sure what the goal of the original issue was tbh.

We use fastly in front on npm-register although we didn't need any extra features to do this. We don't invalidate via npm-register though which might be the difference

[2018-09-01 08:30] GongT commented on #53
I'm using sinopia now...
But looks like `lib/routes/tarballs.js` is still using wrong path.

[2018-09-01 12:00] dgautsch commented on #53
Ok thanks. I think I understand this now, but could you clarify a little more? I believe this is only an issue if the package doesn't exist in npm-register and it gets passed through to npm with the wrong URL. What are the other use cases? Thanks!

[2018-09-01 19:42] GongT commented on #53
Sorry for my English first.

npm -A-> npm-register -B-> upstream(npm.org)

The issue happen at A.

you can compare same `debug` package on two different registry:
**china mirror**: https://registry.npm.taobao.org/debug
**original npm**: https://registry.npmjs.org/debug

look at `tarball`:
**china mirror**: "http://registry.npm.taobao.org/debug/download/debug-3.1.0.tgz"
**original npm**: "https://r

[2018-09-21 01:56] #118 closed

[2018-09-21 01:58] dgautsch commented on #124
@lifeisfoo this should be fixed with v2.8.1

[2018-10-18 12:00] canercandan opened #135 "TypeError: Cannot promisify an API that has normal methods with 'Async'-suffix"
[code]
[code]

I am getting this error when I start the `npm-register` server with S3 set.

[code]

[2018-10-18 12:40] canercandan commented on #135
@dgautsch for some reasons it seems that the NPM package does not contain the latest version tagged on the git repo `2.7.1 <> 2.8.1` I will check if the last version fix the issue

[2018-10-18 13:30] canercandan commented on #135
Yep I confirm this issue does not exist with the latest version

[2018-10-18 13:30] #135 closed

[2018-10-18 17:33] dgautsch commented on #135
@canercandan yea i haven't published 2.8.1 yet because I wanted to do some more testing. Thanks for checking!

[2018-10-19 03:59] dgautsch commented on #126
Updated S3 credentials.

[2018-10-19 03:59] #126 closed

[2018-10-19 08:07] canercandan commented on #135
Thanks @dgautsch for the heads-up though the lastest npm package version available is not working with S3 which is quite sad, which version shall we use (available in NPM) to get S3 working with? thanks

[2018-10-20 01:46] dgautsch commented on #135
@canercandan I've published 2.8.1, please give it a try. Thanks!

[2018-10-21 02:55] dgautsch opened #139 "Circle CI 2.0 Migration"
https://circleci.com/docs/2.0/migration/

[2018-10-21 03:26] dgautsch opened #140 "Add Search to UI"
Users should be able to search for packages within their repo through the UI.

[2018-10-21 03:28] dgautsch commented on #127
Closing as this appears to be fixed by v2.8.1 #129

[2018-10-21 03:28] #127 closed

[2018-10-21 03:30] dgautsch commented on #90
Does this still persist with v2.8.1?

[2018-10-21 03:31] dgautsch commented on #43
No traction on this for a while. Closing for now.

[2018-10-21 03:31] #43 closed

[2018-10-21 03:32] #17 closed

[2018-10-21 03:33] #35 closed

[2018-10-21 03:36] #74 closed

[2018-10-21 04:40] dgautsch commented on #139
@jdxcode i think circle ci has some hard caching going on because the failure is due to an older package dependency. Are you able to flush the project cache?

[2018-10-22 01:47] dgautsch opened #143 "AWS > 2.304 Breaks Bluebird Promisify in NPM-Register"
See: https://github.com/aws/aws-sdk-js/issues/2229

[2018-10-22 08:35] canercandan commented on #143
the issue #135 is also related, and I finally managed to fix it by setting this dependency with a fixed version:

[code]

[2018-10-22 12:38] #143 closed

[2018-10-22 18:05] dgautsch commented on #143
@canercandan yea I see the issue now. Because we have the flag to update minor versions. It's a little annoying that AWS-sdk implemented a breaking change like that. I'll have to republish with a fixed version.

[2018-10-22 18:09] dgautsch opened #145 "Support AWS SDK > 2.304 and Bluebird PromisifyAll"
As seen in #135 and #143 the latest changes to AWS SDK break our PromisifyAll with bluebird.

### Potential Solutions

-Utilize a suffix

[2018-10-22 19:42] dgautsch commented on #143
@canercandan I published v2.8.2 on npm. This should be compatible with s3

[2018-10-23 07:37] canercandan commented on #143
@dgautsch awesome thanks for the heads-up

[2018-10-25 00:28] dgautsch commented on #90
@jessebye and @protheantom I'm trying to shore up old bugs and this still seems relevant. I understand If you both had to move on at this point, but if you happened to still be running npm-register is this still a problem?

[2018-10-26 11:04] BobNobrain commented on #99
I still have this issue in 2.8.2 with env variable `NPM_REGISTER_AUTH_READ=true`. All scoped packages return 404, but everything else works as intended. In logs it says just something like this:
[code]

[2018-11-06 16:08] lifeisfoo commented on #124
Hi @dgautsch I've tested today v2.8.2, but I got the same error.

[2018-11-16 19:06] giantryansaul commented on #99
I could use some help here. The service works well for me when I've deleted the lock file, but when I use a set yarn.lock file I run into frequent 404 errors. AFAIK all of the dependencies are otherwise available.

[2018-11-16 21:11] dgautsch commented on #99
@BobNobrain @giantryansaul I'll review sometime this weekend and next week. Haven't had as much time for this project lately. But should have some free time over the holiday.

[2018-11-17 00:06] dgautsch commented on #99
I think I'm going to decommission http-call and switch to using Axios since that's what the UI is using. Doesn't seem heroku is supporting http-call anymore.

[2018-11-18 14:42] dgautsch commented on #99
@giantryansaul when you say, set yarn.lock. do you mean the one committed with the project that comes with v2.8.3?

[2018-11-19 17:36] giantryansaul commented on #99
@dgautsch No I mean the yarn lock file we use for our team's project. I've reset the "resolved" links from the public yarn registry so that they all get re-written to this new registry. All of these packages will download correctly from the public registry, but a handful of them (mostly @type libraries) will get 404 errors.

[2019-02-19 00:10] silverlyra commented on #99
I just ran into this in switching from verdaccio to npm-register.

Most of the scoped packages in our `yarn.lock` files had URL-escaped `/`s within their tarball URLs, like `https://npm.abc.xyz/@vx%2ftext/-/text-0.0.165.tgz`. But some of them did not, and npm-register 404’d them: `https://npm.abc.xyz/@vx/text/-/text-0.0.165.tgz` won’t work. Looking through `routes.js`, it looks like those might wo

[2019-03-07 09:56] mtltechtemp opened #149 "Protect frontend ?"
How can i protect the frontend with something like a login system?

[2019-03-15 01:59] alphaDev23 opened #150 "Dockerfile is broken"
The following is a partial Dockerfile build output.

npm WARN deprecated opbeat@4.17.0: Opbeat has joined forces with Elastic and this agent is now deprecated. We recommend that you use Elastic APM instead: https://www.elastic.co/solutions/apm
npm WARN notice [SECURITY] debug has the following vulnerability: 1 low. Go here for more details: https://nodesecurity.io/advisories?search=debug&version=0

[2019-03-15 03:54] alphaDev23 commented on #150
It was a networking issue.  Closing.

[2019-03-15 03:54] #150 closed, assigned to nobody

[2020-02-10 18:31] damonmiller513 opened #159 "Is this project maintained?"
This looks like a dead project.  No activity in a year.

Any life left in this?  This project looked great, wish I could use it!  The hard Node v8.4.0 requirement is not making it possible.

[2022-04-07 05:59] mrblightning opened #193 "Offering to add free integrity verification"
Hi Jeff,
My name's Barak and I'm the DevRel at Scribe Security. We're developing a security tool that helps verify that files remain unchanged between the repo and the end of the pipeline making sure that no files were maliciously or otherwise changed anywhere on the pipeline if they were not supposed to.
Currently, we're focused on NPM projects and I thought your project, the npm-register, is a g